      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="is-size-1">  Welcome to Progetto, {{user.firstname}} </h1>
  </div>
  <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/">
            Log Out
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>

<br>
 
<div class="container">
 

<div class="control is-centered">
			<form>
				<label class="label is-large">
				Let's Get Started!
				</label>
				<input class="textarea is-large" placeholder="Start typing here to make a new board..." type="input" id="board-name">
				<button class="button is-primary" type="submit" id="submit-board" >Submit</button>
			</form>
</div>

</div>

<br>


<div class="container">
<div class="notification">

<div class="columns is-multiline ">
     {{#each boards}} 
  <div class="column is-one-quarter">

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      	<a href="/board/{{this.id}}">{{this.name}}</a>
    </p>
    <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </a>
  </header>
  <footer class="card-footer">
    <a href="/board/{{this.id}}" class="card-footer-item">Add Tasks</a>
    <a href="#" class="card-footer-item" id="edit-board">Edit Name</a>
    <a href="#" class="card-footer-item" id="delete-board" data-id="{{this.id}}">Delete Board</a>
  </footer>
</div>

  </div>
  {{/each}}
</div>

</div>
</div>
