      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="is-size-1">  Welcome to Progetto, {{user.firstname}} </h1>
  </div>
  <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/">
            Log Out
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>



			<form data-id="{{this.BoardId}}" class="submit-list">
				<label>
					<h2>Create A New List</h2>
				</label>
				<input type="input" id="list-name">
				<button type="submit">Submit</button>
			</form>


	
			{{#each list}}
		
			<h1>{{this.title}}</h1>
			<form  class="submit-task" data-id="{{this.id}}">
				<label>
					<p>Add A Task</p>
				</label>
				<input type="input" id="task">
				<br>
				<br>
				<button type="submit">Submit</button>
			</form>
				{{#each this.Tasks}}
			<ul>
				{{this.body}}
			</ul>
				{{/each}}
	
			{{/each}}



     {{#each boards}} 
 
    <p>{{this.name}}</a>
    
 	 {{/each}}
